#filter {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.filter-tab {
    display: inline-block;
    width: auto;
    padding: 2px;
    cursor: pointer;
    background-color: gray;
}

.filter-tab:hover {
    font-weight: 600;
}

.filter-tab-on {
    background-color: darkorange;
    font-weight: 600;
}

#filter-wrapper {
    display: flex;
}

.selectible-filter {
    display: none;
    height: 125px;
    width: 60%;
}

.selectible-filter-on {
    display: inherit;
}

/* NAME FILTER */
#search {
    display: block;
    position: absolute;
    left: 15px;
    top: 25%;
    width: 45%;
    height: 31%;
    border: 2px solid darkorange;
    background: #ffffff;
}

#search > input {
    width: 93%;
    padding: 10px;
    border: 0px;
    outline: none;
    font-size: 1em;
}

/* STAT FILTER */
#stat-filter {
    align-items: center;
}

label {
    white-space: nowrap;
}

/* AREA FILTER */
#area-grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.area {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border: 1px solid;
    font-weight: 600;
    padding: 6px;
    cursor: pointer;
}

.area-on {
    color: orange;
}

.area:hover {
    color: orange
}

/* TYPE FILTER */
#type-filter {
    width: 55%;
    display: grid;
    grid-template-columns: 0.8fr 3px repeat(7, 1fr)
}

#type-all {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    align-self: stretch;
}

#type-weapon {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: pink;
}

#type-armor {
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: lightblue;
}

#type-other {
    grid-column-start: 2;
    grid-row-start: 5;
    background-color: lawngreen;
}

#type-placeholder1 {
    grid-column-start: 9;
    grid-row-start: 3;
}

#type-placeholder2 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
}

#type-placeholder3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 5;
}

.item-type {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1px;
    border: 1px solid;
    font-size: 0.9em;
    font-weight: 600;
    padding-right: 2px;
    cursor: pointer;
}

.item-type:hover {
    color: orange;
}

.item-type-on {
    border-left: 4px solid orange;
    color: orange;
}

.item-type-ph {
    margin: 1px;
    border: 1px solid;
}

@media screen and (max-width: 800px) {
    #filter-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .selectible-filter-on {
        display: block;
        width: 100%;
        height: auto;
        padding: 2px;
    }

    #search {
        position: static;
        height: 40px;
        width: 97%;
        margin: auto;
    }

    #area-grid {
        width: 100%;
        font-size: 0.9em;
    }

    #type-filter {
        width: 100%;
        grid-template-columns: 0.6fr 3px repeat(5, 1fr)
    }

    #type-all {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 9;
        align-self: stretch;
    }

    #type-weapon {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: pink;
    }

    #type-armor {
        grid-column-start: 2;
        grid-row-start: 5;
        background-color: lightblue;
    }

    #type-other {
        grid-column-start: 2;
        grid-row-start: 6;
        background-color: lawngreen;
    }

    #type-placeholder1 {
        display: none;
    }

    #type-placeholder2 {
        display: none;
    }

    #type-placeholder3 {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 6;
    }

    .item-type-ph {
        margin: 1px;
        border: 1px solid;
    }

    .item-type {
        padding: 3px;
    }

    .item-type-on {
        color: orange!important;
    }

    .item-type:hover {
        color: inherit;
    }
}
