#itemList {
    height: 99.8%;
    overflow: auto;
}

.listItemIcon {
    width: 23.5%;
    cursor: pointer;
}

a:link {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}

/* for mobile */
@media screen and (max-width: 800px) {
    #itemList {
        height: 320px;
    }
}
