html {
    background-color: #222222;
    color: white;
    height: 100%;
}

body {
    height: 100%;
}

#content {
    height: 100%;
}

.button {
    float: right;
}

#itemType > img {
    height: 3em;
    cursor: pointer;
    vertical-align: middle;
}

.column {
    vertical-align: top;
    width: 495px;
    height: 70%;
    display: inline-block;
}

.cell {
    border-style: inset;
    position: relative;
    margin: 2px;
    display: block;
}

/* left column */
#itemList {
    height: 100%;
    overflow: auto;
}

.listItemIcon {
    width: 23.5%;
    cursor: pointer;
}

.itemIcon {
    width: 100%;
    cursor: pointer;
}

#stat {
    height: 35%;
}
