#item-list {
    height: 110%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    font-size: 75%;
    text-align: center;
}

#item-list > div {
    width: 110px;
    cursor: pointer;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    margin-bottom: 3px;
}

#item-list > div:hover {
    font-weight: 700;
}

div.dummy {
    border-color: transparent;
    cursor: initial!important;
}

#found-nothing {
    width: 90%!important;
    cursor: initial!important;
    font-size: 1rem;
    font-weight: 500!important;
}

#item-list > div > img {
    width: 100%;
    margin-bottom: -3px;
}

div.commonItem {
    border-color: white;
}

div.uncommonItem {
    border-color: lawngreen;
}

div.rareItem {
    border-color: deepskyblue;
}

div.epicItem {
    border-color: darkmagenta;
}

div.legendaryItem {
    border-color: yellow;
}

/* for mobile */
@media screen and (max-width: 800px) {
    #item-list {
        height: 320px;
    }

    #item-list > div {
        width: 23%;
    }
}
