html {
    background-color: #0d1423;
    color: white;
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

#header {
    background-color: darkorange;
    margin-bottom: 10px;
}

#menubar {
    width: 1490px;
    height: 50px;
    margin: auto;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menubar > div {
    display: inline-block;
    cursor: pointer;
    /* margin-top: 4px; */
}



.left-menu {
    margin-right: 10px;
}

.push {
    margin-left: auto;
}

/* .rightMenu { */
    /* margin-left: 10px; */
/* } */

#content {
    width: 1490px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.column {
    vertical-align: top;
    width: 33%;
    height: 70%;
    display: inline-block;
    margin-bottom: 5px;
}

.cell {
    border-style: solid;
    position: relative;
    display: block;
}

.itemIcon {
    width: 100%;
    cursor: pointer;
}

a:link {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}

/* darkmode_btn */
.btn_theme[aria-pressed=true] {
    display: inline-block;
    width: 148px;
    height: 53px;
    background-position: -270px 0;
    background-repeat: no-repeat;
    vertical-align: top;
}

button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* for mobile */
@media screen and (max-width: 800px) {
    #menubar {
        width: 100%;
    }

    #content {
        width: 100%;
        height: auto;
    }

    #search {
        position: static;
    }

    .column {
        width: 100%;
        height: auto;
    }
}