html {
    background-color: #0d1423;
    color: white;
    height: 100%;
}

body {
    height: 100%;
}

#content {
    height: 100%;
}

#itemType > img {
    height: 3em;
    cursor: pointer;
    vertical-align: middle;
    border-color: lightgreen;
    margin: 1px;
}

#statFilter > table {
    display: inline;
}

label {
    white-space: nowrap;
}

/* #searchBar { */
    /* vertical-align: middle; */
/* } */

.column {
    vertical-align: top;
    width: 495px;
    height: 70%;
    display: inline-block;
    margin-bottom: 5px;
}

.cell {
    border-style: inset;
    position: relative;
    margin: 2px;
    display: block;
}

.itemIcon {
    width: 100%;
    cursor: pointer;
}

a:link {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}

/* for mobile */
@media screen and (max-width: 800px) {
    #content {
        height: auto;
    }

    .column {
        width: 100%;
        height: auto;
    }
}
