.fold-title {
    padding: 5px;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}

.folder {
    display: inline-block;
    transform-origin: center;
    transition: all ease 0.3s;
}

#map-content {
    position: relative;
    height: auto;
}

#map-img {
    z-index: -1;
}

.spawn-area {
    position: absolute;
    width: 12%;
    background-color: rgba(255, 255, 255, 0.3);
}

#map-5 {
    top: 12%;
    left: 37.5%;
}

#map-10 {
    top: 22.5%;
    left: 19%;
}

#map-7 {
    top: 26.5%;
    left: 50.5%;
}

#map-3 {
    top: 56%;
    left: 14%;
}

#map-11 {
    top: 54.5%;
    left: 53%;
}

#map-14 {
    top: 67%;
    left: 47.5%;
}

#map-1 {
    top: 80.5%;
    left: 42%;
}

#map-13 {
    top: 73%;
    left: 66.5%;
}

#map-12 {
    top: 56%;
    left: 34%;
}

#map-8 {
    top: 51%;
    left: 70.5%;
}

#map-6 {
    top: 40.5%;
    left: 16%;
}

#map-2 {
    top: 39%;
    left: 60%;
}

#map-15 {
    top: 31%;
    left: 30%;
}

#map-9 {
    top: 24.5%;
    left: 67.5%;
}

#map-4 {
    top: 69%;
    left: 28%;
}

#craft-content {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0px;
    overflow-x: auto;
}

#craft-content img {
    width: 99%;
}

#craft-content span {
    font-size: 0.8rem;
}

#craft-content hr {
    margin: 2px;
}

.craft-result {
    display: flex;
    align-items: center;
}

.craft-item {
    border: 1px solid;
    margin: 2px;
    width: 110px;
}

#no-recipe {
    font-size: 1rem;
}
