#mapImg {
    z-index: -1;
}
/*
#mapCanvas {
    /*이걸 지역별로 한개씩
    position: absolute;
    top: 33%;
    left: 33%;
    width: 20%;
}*/

#map {
    position: relative;
    height: 100%;
}

.itemSpot {
    position: absolute;
    width: 12%;
    background-color: rgba(255, 255, 255, 0.3);
}

#forest {
    top: 52%;
    left: 34%;
}

#school {
    top: 29%;
    left: 30%;
}

#hotel {
    top: 38%;
    left: 16%;
}

#archeryRange {
    top: 19%;
    left: 19%;
}

#alley {
    top: 11%;
    left: 37.5%;
}

#avenue {
    top: 25%;
    left: 50.5%;
}

#temple {
    top: 22.5%;
    left: 67.5%;
}

#pond {
    top: 36%;
    left: 60%;
}

#hospital {
    top: 38%;
    left: 16%;
}

#cemetery {
    top: 53%;
    left: 16%;
}

#factory {
    top: 38%;
    left: 16%;
}

#chapel {
    top: 38%;
    left: 16%;
}

#dock {
    top: 38%;
    left: 16%;
}

#uptown {
    top: 38%;
    left: 16%;
}

#beach {
    top: 38%;
    left: 16%;
}