#super {
    height: 15%;
    overflow-x: auto;
}

#super > img {
    width: 20%;
    cursor: pointer;
}

#recipe {
    text-align: center;
    height: 45%;
}

span {
    white-space: nowrap;
}

#final {
    position: absolute;
    width: 20%;
    top: 5%;
    left: 40%;
}

#ingre11 {
    position: absolute;
    width: 15%;
    top: 40%;
    left: 20%;
}

#ingre12 {
    position: absolute;
    width: 15%;
    top: 40%;
    left: 65%;
}

#ingre21 {
    position: absolute;
    width: 10%;
    top: 75%;
    left: 10%;
}

#ingre22 {
    position: absolute;
    width: 10%;
    top: 75%;
    left: 35%;
}

#ingre23 {
    position: absolute;
    width: 10%;
    top: 75%;
    left: 55%;
}

#ingre24 {
    position: absolute;
    width: 10%;
    top: 75%;
    left: 80%;
}

#amount1 {
    position: absolute;
    width: 5%;
    top: 40%;
    left: 47.5%;
    border-style: solid;
    font-size: 80%;
}

#amount2 {
    position: absolute;
    width: 5%;
    top: 75%;
    left: 25%;
    border-style: solid;
    font-size: 80%;
}

#amount3 {
    position: absolute;
    width: 5%;
    top: 75%;
    left: 70%;
    border-style: solid;
    font-size: 80%;
}
/*
@media screen and (max-width: 800px) {
    #recipe {
        height: 320px;
    }
}
*/